.strategy-wrapper {
  background-image: linear-gradient(
      to bottom right,
      rgba(26, 0, 142, 0.9) 70%,
      rgba(67, 0, 143, 0.7)
    ),
    url(../../assets/strategy-background.jpeg);
  background-size: cover;
}

.section-strategy__heading {
  color: var(--color-grey-light);
}

.section-strategy__content {
  display: flex;
  justify-content: space-between;
}

.strategy-one,
.strategy-two {
  width: 45%;
}

.strategy-one__text {
  font-size: 1.8rem;
  line-height: 2;
  color: var(--color-grey-light);
}

.strategy-two__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.strategy-two__link-title {
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
}

.strategy-two__link-text {
  font-size: 1.6rem;
}

.strategy-two__link:link,
.strategy-two__link:visited {
  position: relative;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-decoration: none;
  border: 1px solid var(--color-primary-light);
  color: var(--color-grey-light);
  padding: 1.6rem 3.2rem;
  transition: all 0.3s;
}

.strategy-two__link:hover,
.strategy-two__link:active {
  transform: translateX(1em);
  color: var(--color-primary);
  background-color: var(--color-grey-light);
}

.quote-container {
  width: 70%;
  margin-left: auto;
  margin-bottom: 4.8rem;
  position: relative;
  padding: 9.6rem;
  background-color: var(--color-grey-dark);
}

.quote-container__img {
  display: block;
}

.quote-container__text {
  font-size: 2rem;
  width: 75%;
  margin-left: auto;
  color: var(--color-grey-light);
}

.quote-container__quote {
  display: block;
  line-height: 1.7;
}

.quote-container__cite {
  font-size: 1.4rem;
  display: block;
  margin-top: 3.2rem;
  color: var(--color-grey-medium);
}

.quote-container__cite span {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 0.8rem;
}

.quote-container__img-wrapper {
  position: absolute;
  top: 50%;
  left: -6rem;
  transform: translateY(-50%);
}

.quote-container__icon {
  width: 4rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  fill: var(--color-primary);
}

@media (max-width: 78em) {
  .quote-container {
    padding-right: 7.2rem;
  }
}

@media (max-width: 62em) {
  .quote-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 4.8rem;
    transform: translateX(3rem);
  }
}

@media (max-width: 48em) {
  .quote-container {
    width: 100%;
    padding: 3.2rem;
    transform: translateX(0);
  }

  .quote-container__img-wrapper {
    display: inline-block;
    position: relative;
    left: 0;
    transform: translateY(0);
    margin-bottom: 3.2rem;
  }

  .section-strategy__content {
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
  }

  .strategy-one,
  .strategy-two {
    width: 80%;
  }

  .section-strategy__heading {
    text-align: center;
  }
}

@media (max-width: 34em) {
  .quote-container__text {
    width: 100%;
  }
}
